<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>로그인</title>
        <script  src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <style>
            #wrapper{
                width: 600px;
                margin: auto;  
                transition-duration: 
            }
            input{
                font-size: 20px;
            }
        </style>
        <script>
            $(function(){

            })
        </script>
    </head>
    <body>
        <div id="wrapper">
            <input type="text" placeholder="id">
            <input type="password" placeholder="pw">
            <input type="button" value="로그인"> 
        </div>
    </body>
</html>